.#animalsbuttons button{
  margin-left: 5px;
}
#add {
  margin-bottom: 15px;
}
body {
    text-align: center;
    margin-top: 100px;
    background-color: #303030;
    color: rgba(255,255,255, .85);
  }

h4{
  color: rgba(255,255,255, .85); 
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600px;
  font-size: 23px;
}
h1 {
    font-family: "Raleway", sans-serif;
    background-color: #e91e63;
    letter-spacing: 1px;
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;

}
header{
  background-color: #F15B31;
  padding-top: 30px;
  padding-bottom:  20px; 
  padding-right: 30px;
  padding-left:  20px;
  text-align: center;
}
a{
  font-family: "Droid Serif", serif;
  letter-spacing: 1px;
  font-weight: 600px;
  font-size: 18px;
  text-transform: uppercase;


}
p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

button.accent,
input.accent {
  background-color: #e91e63;
}

button.accent:hover,
input.accent:hover {
  color: rgba(255,255,255, 1);
}

input{
  color: black;
}